<% if model.errors.any? %>
<div class="error-alert">
  <ul>
    <% model.errors.full_messages.each do |message| %>
      <%if message.include?("before type cast ") %>
        <% message.slice!("before type cast ") %>
      <% end %>
      <li class='error-message'><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>